<div class="top">
  <div class="top-text-img">
    <div class="top-text">
      <h3>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </h3>
    </div>
  </div>
 
  <div class="top-items">
    <h3>新着商品</h3>
    <div class="new-item">
      
    </div>
  </div>
 
</div>